# distribution and packaging
build/
output/
dist/
*.egg-info/
*.egg
*.whl

# vim cache
*.swp

# python cache
*.pyc

# python cov
cov_report/
report/

# protobuf
*.pb.h
*.pb.c

# cann tmp
lib/
kernel_meta/
tools/python/op_test_frame/libs/*.so
